.button-f{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   }
   .button-fonctionnement{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    width: 83%;
    filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    padding: 25px;
    background-color: #F6F6F6;
    color: black;
    border: none;
   }
