.fonctionnement{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
   
   &-title{
    margin-bottom: -20px;
    padding-left: 10px;
    font-family: 'roboto', sans-serif;
   }
   &-row{
    display: flex;
    align-items: center;
    margin-top: 25px;
   }
}
@media (min-width: $breakpoint-desktop){
    .fonctionnement{
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
       
       &-title{
        padding-left: 150px;
        font-family: 'roboto', sans-serif;
       }
    }
}