.logo {
    display: flex;
    justify-content: center;
    margin: 10px;
    img{
    width: 45%;
    }
}
    @media (min-width: $breakpoint-desktop){
        .logo{
            display: flex;
            justify-content: center;
            padding: 10px;
        img{
        width: 20%;
        justify-content: center;
        }
    }
}

