.restaurant-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restaurant-cards a {
  padding-bottom: 20px;
  text-decoration: none;
  color: black;
}
.card {
  width: 95%;
  margin-top: 15px;
}

.card-header {
  height: 150px;
  background-color: #99E2D0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 15px;
}
.card-body {
  padding: 10px;
}

.card-heading-lapalettedugout {
  background: url(https://xavierduc.github.io/OhMyFood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.card-heading-lanoteenchantee{
  background: url(https://xavierduc.github.io/OhMyFood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.restaurant-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  overflow: hidden;
  margin-left: 10px;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  flex-grow: 1;
}

.card-text h3{
  font-family:  'Roboto' , sans-serif;

}

.card-text p{
  font-family:  'Roboto' , sans-serif;
  font-weight: 300;
}

.card-text {
  padding-left: 10px;
}


.hidden {
  display: none;
}

.icon {
  font-size: 22px;
  padding-right: 30px;
  cursor: pointer;
  display: inline-block;
 
}


.icon:before {
    content: "\f004"; 
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    color: black;
    font-size: 22px;
    margin-top: -20px; 
}


.hidden:checked + .icon:before {
    font-weight: 900; 
    background: linear-gradient(360deg, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    color: transparent;
}
.label{
  margin: 0;
  padding: 0;
  background-color: #99E2D0;
  height: 29px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008766;
  border-width: 0;
  border-radius: 2px;
  font-family: 'roboto' , sans-serif;
  font-size : 14px;
}

.restaurant-cards-new{
  display: flex;
  flex-direction: column;
}
.restaurant-cards-normal{
  display: flex;
  flex-direction: column;
}
@media (min-width: $breakpoint-desktop){
  .restaurant-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .restaurant-cards a {
    width: 100%;
    padding-bottom: 20px;
    text-decoration: none;
    color: black;
  }

  .card {
    width: 50%;
    margin-top: 15px;
  }
  
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .restaurant-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    width: 400px;
  }
  
  .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-grow: 1;
  }
  
  .card-text h3{
    font-family:  'Roboto' , sans-serif;
  
  }
  
  .card-text p{
    font-family:  'Roboto' , sans-serif;
    font-weight: 300;
  }
  
  .card-text {
    padding-left: 10px;
  }
  

  .hidden {
    display: none;
  }
  
 
  .icon {
    font-size: 30px;
    padding-right: 30px;
    cursor: pointer;
    display: inline-block;
   
  }
  

  .icon:before {
      content: "\f004";
      font-family: "Font Awesome 6 Free";
      font-weight: 400; 
      color: black;
      transition: font-weight 0.2s ease, color 0.5s ease-in; 
  }
  
  
  .hidden:checked + .icon:before {
      font-weight: 900; 
      background: linear-gradient(360deg, #FF79DA, #9356DC);;
      -webkit-background-clip: text;
      color: transparent;
  }
  .nouveau p{
    margin: 0;
    padding: 0;
    background-color: #99E2D0;
    height: 29px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -130px;
    margin-left: 155px;
    color: #008766;
    border-radius: 2px;
    font-family: 'roboto' , sans-serif;
    font-size : 14px;
  }

  .restaurant-cards-new{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
  }
  .restaurant-cards-normal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
  }
}